* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    overflow: hidden;
    background-color: #f1f1f1;
}

.navCont{
    min-height: 6667px;
    background-color: #dfdfdf;
    color: #5c5c5c;
    font-weight: 600;
}
nav{
    overflow: auto;
    width: 200px;
    height: 350px;
    margin: 0;
}

nav ul span{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid #727272;
}
nav li{
    cursor: pointer;
    list-style: none;
    padding: 10px;
    width: 100%;
    height: 40px;
}
nav ul li:hover{
    background-color: #eceaea;
}

.calculator > span > div{
    cursor: pointer;
    width: 200px;
    border-top: 1px solid #727272;
}

.mainContent{
    padding: 0 100px;
    margin: 0;
    min-height: 6667px;
}
.innerMainContent{
    min-height: 6667px;
    border-right: 1px solid #727272;
    border-left: 1px solid #727272;
}

.density-table{
    display: grid;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px;
    grid-template-columns:  100px 70px 100px 70px 100px 70px 100px 70px;
}
.transcalencies-table{
    display: grid;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px;
    grid-template-columns:  100px 100px 100px 100px 100px 100px;
}
.resistivity-table{
    display: grid;
    grid-template-columns:  100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px;
}
#page_04{
    grid-template-columns:  100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px 55px 55px 55px;
}
#page_07{
    grid-template-columns:  100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 55px 55px 55px 55px 55px 55px;
}
.table > div{
    padding: 5px;
}
.tableBorder{
    border-right: 1px solid #727272;
}
.row1{
    background-color: #b1b0b0;
}
.row2{
    background-color: #ddd7d7;
}

.calculator > div{
    width: 200px;
    transform: translateX(-200px);
}

#search{
    width: 400px;
}
#search input{
    width: 300px;
    height: 30px;
}
#search > div{
    cursor: pointer;
}

#page_00{
    display: block;
}

#btn_00{
    cursor: pointer;
}